h1 {
  text-align: center;
}

.form {
  padding: 10px;
  margin: 0 auto;
  width: 500px;
  border: 3px double #967bb6;
  text-align: center;
}

.label {
  display: block;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

.input {
  font-size: 23px;
  font-style: italic;
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.input::placeholder {
  font-size: 23px;
  font-style: italic;
}

.button {
  composes: input;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  color: white;
  background: black;
  box-shadow: 5px 8px 10px #f3a3f0;
  transition: linear 0.2s;
}

.button:hover {
  background: #967bb6;
}

.errors {
  font-size: 15px;
  color: red;
}
