.container {
    display: flex;
    align-items: center;
  }
  
  .name {
    font-weight: 700;
    font-size: 16px;
    margin-right: 20;
  }
  
  .button {
    min-width: 80px;
    padding: 5px 5px;
    margin-left: 5px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .button:hover {
    background-color: rgb(69, 103, 131);
    border-color: rgb(52, 78, 99);
    color: #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }